body{
    margin: 0px;
}

.homeostasis{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    /* height: 100vh; */
    color: white;
    position: absolute;

}

.homeostasis button{
    border-radius: 6px;
    background-color: white;
    color: black;
    width: 214px;
    height: 74px;
    border: none;


    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    text-align: center;

    margin-bottom: 40px;
}

.homeostasis h1 {

    font-size: 32spx;
    line-height: 48px;
    text-align: center;
    margin-top: 60px;
    margin-top: 40px;

    }

.homeostasis p {
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
text-align: center;
color: rgba(255, 255, 255, 0.74);
}

.flex-center{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.float-card{
    background: #3086DD;
    /* card-shadow */
    box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 24px 24px 0px 0px;
    position: absolute;
    bottom: 0px;
    width:100%;
}

.scene1{
    background: linear-gradient(177.17deg, #5DB5F5 15.84%, #69AEFF 61.26%, #177DDB 93.69%);
}

#view1{
    background-color: rgb(219, 219, 219);
}



#view2{
    color: rgb(31, 31, 31);
    background-color: rgb(230, 230, 230);
}

.step-column{
    display: flex;
    flex-direction: column;

    justify-content: center;

}

.step-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.step-number{

    position: relative;
    width: 40px;
    height: 40px;

    border: 2px solid #333333;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 16px;


    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    align-items: center;
    text-align: center;
}

.step-instructions{

left: 20.19%;
right: 0%;
top: 0%;
bottom: 0%;

font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
display: flex;
text-align: left;
color: #333333;
}

#v2-titles{
    position: absolute;
    left: 10vw;
    right: 10vw;
}
#v2-button{
    position: absolute;
    left: 10vw;
    right: 10vw;
    bottom: 20px;
}

#v3-title{
    position: absolute;
    left: 40vw;
    right: 40vw;
    text-align: center;
    animation-name: v3-title;
    animation-duration: 6s;
}

#v3-img{
    animation-name: v3-img;
    animation-duration: 6s;
}
#v3-p{
    position: absolute;
    left: 15vw;
    right: 15vw;
    text-align: center;
    animation-name: v3-p;
    animation-duration: 6s;
}

/* Intro Screen Animation */
@keyframes v3-title {
    0%   {color: rgba(255, 255, 255, 0); padding-top: 35vh;}
    15%  {color: rgba(255, 255, 255, 0.877); padding-top: 35vh;}
    20%  {color: rgba(255, 255, 255, 0.877); padding-top: 35vh;}
    35%  {color: rgba(255, 255, 255, 0.877); padding-top: 18vh;}
    85%  {color: rgba(255, 255, 255, 0.877); padding-top: 18vh;}
    100% {color: rgba(255, 255, 255, 0); padding-top: 18vh;}
  }

@keyframes v3-img {
    0%   {opacity: 0; padding-top: 50vh;}
    30%  {opacity: 0; width: 226.29px;height: 110px; padding-top: 35vh;}
    45%  {opacity: 1; width: 256.86px;height: 124.86px; padding-top: 35vh;}
    90%  {opacity: 1; width: 256.86px;height: 124.86px; padding-top: 35vh;}
    100% {opacity: 0; width: 226.29px;height: 110px; padding-top: 35vh;}
}

@keyframes v3-p {
    0%   {opacity: 0; padding-top: 65vh;}
    45%  {opacity: 0; padding-top: 65vh;}
    55%  {opacity: 1; padding-top: 60vh;}
    85%  {opacity: 1;}
    100% {opacity: 0; padding-top: 60vh;}

    }


#v4-titles{
    position: absolute;
    left: 10vw;
    right: 10vw;
}


