body {
    margin: 0px;
    font-family: 'Lexend Deca', sans-serif;

}

.homeostasis {
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    /* height: 100vh; */
    color: white;
    position: absolute;

}

.homeostasis button {
    border-radius: 6px;
    background-color: white;
    color: black;
    width: 214px;
    height: 74px;
    border: none;


    font-family: 'Lexend Deca', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    text-align: center;

    margin: 24px;
}

.homeostasis h1 {

    font-size: 30px;
    line-height: 48px;
    text-align: center;
    margin: 10px 10px 40px 10px;
    letter-spacing: -0.01em;

}

.homeostasis p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: rgba(255, 255, 255, 0.74);
    margin: 20px;

}

.flex-center {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flex-spread {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.scene1 {
    background: linear-gradient(177.17deg, #206495 15.84%, #2F64A1 61.26%, #15436C 93.69%);}

#view1 {
    background-color: rgb(219, 219, 219);
}
#view1 p{
    margin-bottom: 50px;
    line-height: 24px;
}
#view1 button{
    border: solid 1px white;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
}

#view2 {
    color: rgb(31, 31, 31);
    background-color: rgb(230, 230, 230);

}
#v2-wrapper {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left:10vw;
    right: 10vw;
}

#view2 h1{
    font-size: 35px;
    left: 10vw;
    right: 10vw;
    letter-spacing: -2.5px;
    line-height: 50px;
    padding: 26px 0px 0px;
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 24px;
    animation-name: v2-title;
    animation-duration: 10s;
    text-align: left;
}

@keyframes v2-title {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }

    10% {
        opacity: 1;
        transform: translateY(200px);
    }

    20% {
        transform: translateY(0px);
    }

}

.step-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 28px;
}

.step-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.step-number {
    position: relative;
    width: 36px;
    height: 36px;
    border: 2px solid #0000001f;
    box-sizing: border-box;
    border-radius: 18px;
    margin: 16px 16px 16px 0px;
    flex: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
    align-items: center;
    text-align: center;
}

.step-instructions {

    left: 20.19%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    font-size: 15px;
    line-height: 19px;
    display: flex;
    text-align: left;
    color: #333333;
}

#v2-i1 {
    animation-name: v2-i1;
    animation-duration: 10s;
}

@keyframes v2-i1 {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    25% {
        opacity: 0;
        transform: translateY(40px);
    }

    40% {
        opacity: 1;
        transform: translateY(0px);
    }
}

#v2-i2 {
    animation-name: v2-i2;
    animation-duration: 10s;
}

@keyframes v2-i2 {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    40% {
        opacity: 0;
        transform: translateY(30px);
    }

    55% {
        opacity: 1;
        transform: translateY(0px);
    }
}

#v2-i3 {
    animation-name: v2-i3;
    animation-duration: 10s;
}

@keyframes v2-i3 {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    55% {
        opacity: 0;
        transform: translateY(20px);
    }

    70% {
        opacity: 1;
        transform: translateY(0px);
    }
}

#v2-i4 {
    animation-name: v2-i4;
    animation-duration: 10s;
}

@keyframes v2-i4 {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    70% {
        opacity: 0;
        transform: translateY(10px);
    }

    85% {
        opacity: 1;
        transform: translateY(0px);
    }
}


@keyframes v2-b {
    0% {
        opacity: 0;
    }

    85% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#set-up-ready {
    animation-name: v2-b;
    animation-duration: 10s;
}

#selectRoom {
    background: linear-gradient(180deg, #2A4245 0%, rgba(19, 56, 64, 0.86) 100%), 
    linear-gradient(0deg, rgba(5, 39, 63, 0.14), rgba(5, 39, 63, 0.14));
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#selectRoom h2 {
    letter-spacing: -2px;
}

#selectRoomDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#selectRoomDiv .room-item{
    min-height: 140px;
    height: 30vw;
    max-height: 180px;
    margin: 5px;
    border-radius: 0px;
    background-color: rgba(240, 255, 255, 0.247);
}

#selectRoomDiv .room-item.room-side{
    min-width: 40px;
    width: 25vw;
    max-width: 160px;
}

#selectRoomDiv .room-item.room-center{
    min-width: 60px;
    width: 35vw;
    max-width: 200px;

}

/**************** VIEW3 *************** */

.trans{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.trans-title {
    position: absolute;
    left: 40vw;
    right: 40vw;
    text-align: center;
    animation-name: v3-title;
    animation-duration: 2s;
}

.trans-img {
    animation-name: v3-img;
    animation-duration: 2s;
}

.trans-p {
    position: absolute;
    left: 15vw;
    right: 15vw;
    text-align: center;
    animation-name: v3-p;
    animation-duration: 2s;
}

/* Intro Screen Animation */
@keyframes v3-title {
    0% {
        color: rgba(255, 255, 255, 0);
        padding-top: 35vh;
    }

    15% {
        color: rgba(255, 255, 255, 0.877);
        padding-top: 35vh;
    }

    20% {
        color: rgba(255, 255, 255, 0.877);
        padding-top: 35vh;
    }

    35% {
        color: rgba(255, 255, 255, 0.877);
        padding-top: 18vh;
    }

    85% {
        color: rgba(255, 255, 255, 0.877);
        padding-top: 18vh;
    }

    100% {
        color: rgba(255, 255, 255, 0);
        padding-top: 18vh;
    }
}

@keyframes v3-img {
    0% {
        opacity: 0;
        padding-top: 50vh;
    }

    30% {
        opacity: 0;
        width: 226.29px;
        height: 110px;
        padding-top: 35vh;
    }

    45% {
        opacity: 1;
        width: 256.86px;
        height: 124.86px;
        padding-top: 35vh;
    }

    90% {
        opacity: 1;
        width: 256.86px;
        height: 124.86px;
        padding-top: 35vh;
    }

    100% {
        opacity: 0;
        width: 226.29px;
        height: 110px;
        padding-top: 35vh;
    }
}

@keyframes v3-p {
    0% {
        opacity: 0;
        padding-top: 65vh;
    }

    45% {
        opacity: 0;
        padding-top: 65vh;
    }

    55% {
        opacity: 1;
        padding-top: 60vh;
    }

    85% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        padding-top: 60vh;
    }

}


.sketch-overlay-titles {
    position: fixed;
    top: 10vw;
    left: 10vw;
    right: 10vw;
}

#v4 button {
    position: fixed;
    left: 50%;
    margin-left: -80px;
    bottom: 10vw;
}


